{% extends 'base.html' %}

{% block title %}Criar Tabela{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto my-4 p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4">Criar uma Nova Tabela</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="flex items-center">
            <label for="table_name" class="block text-gray-700 font-semibold mr-3 w-3/24">Nome da Tabela:</label>
            <input type="text" id="table_name" name="table_name" class="border border-gray-300 rounded-lg py-2 px-4 w-2/6" placeholder="Digite o nome da tabela" required>
        </div>

        <div id="columns-container" class="grid grid-cols-1">
            <div class="flex flex-col mb-2">
                <div class="flex items-center mt-2">
                    <label for="column_name_0" class="block text-gray-700 font-semibold mr-2 w-3/24">Nome da Coluna:</label>
                    <input type="text" id="column_name_0" name="column_names" class="border border-gray-300 rounded-lg py-2 px-4 w-2/6" placeholder="Digite o nome da coluna" required>
                    <select name="column_types" class="border border-gray-300 rounded-lg py-2 px-4 ml-2 w-1/6" onchange="toggleVarcharField(this)">
                        <option value="INT">INT</option>
                        <option value="VARCHAR">VARCHAR</option>
                        <option value="TEXT">TEXT</option>
                        <option value="DATE">DATE</option>
                        <option value="BOOLEAN">BOOLEAN</option>
                    </select>
                    <input type="text" name="varchar_length" class="border border-gray-300 rounded-lg py-2 px-4 ml-2 hidden w-5/24" placeholder="Tamanho VARCHAR" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                </div>
                <div class="flex items-center mt-2">
                    <label class="mr-2 w-3/24">
                        <input type="checkbox" name="nullable"> Pode ser Nulo
                    </label>
                    <input type="text" name="column_descriptions" class="border border-gray-300 rounded-lg py-2 px-4 ml-2 w-1/3" placeholder="Descrição da coluna">
                    <button type="button" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-md ml-2" onclick="removeColumn(this)">Remover</button>
                </div>
            </div>
        </div>

        <button type="button" id="add-column" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md mt-4" onclick="addColumn()">Adicionar Coluna</button>
        
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md mt-4">Criar Tabela</button>
    </form>

    <br>
    <a href="{% url 'listar_tabelas' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md">Listar Tabelas</a>
</div>

<script>
    function addColumn() {
        const container = document.getElementById('columns-container');
        const index = container.children.length;

        const columnDiv = document.createElement('div');
        columnDiv.className = 'flex flex-col mb-2';
        columnDiv.innerHTML = `
            <div class="flex items-center">
                <label for="column_name_${index}" class="block text-gray-700 font-semibold mr-2 w-3/24">Nome da Coluna:</label>
                <input type="text" id="column_name_${index}" name="column_names" class="border border-gray-300 rounded-lg py-2 px-4 w-2/6" placeholder="Digite o nome da coluna" required>
                <select name="column_types" class="border border-gray-300 rounded-lg py-2 px-4 ml-2 w-1/6" onchange="toggleVarcharField(this)">
                    <option value="INT">INT</option>
                    <option value="VARCHAR">VARCHAR</option>
                    <option value="TEXT">TEXT</option>
                    <option value="DATE">DATE</option>
                    <option value="BOOLEAN">BOOLEAN</option>
                </select>

                <input type="text" name="varchar_length" class="border border-gray-300 rounded-lg py-2 px-4 ml-2 hidden w-5/24" placeholder="Tamanho VARCHAR" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
            </div>
            <div class="flex items-center mt-2">
                <label class="ml-2">
                    <input type="checkbox" name="nullable" class="mr-1"> Nullable
                </label>
                <input type="text" name="column_descriptions" class="border border-gray-300 rounded-lg py-2 px-4 ml-2 w-1/3" placeholder="Descrição da coluna">
                <button type="button" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-md ml-2" onclick="removeColumn(this)">Remover</button>
            </div>
        `;
        container.appendChild(columnDiv);
    }

    function removeColumn(button) {
        const columnDiv = button.parentElement.parentElement;
        const container = document.getElementById('columns-container');

        if (container.children.length > 1) {
            container.removeChild(columnDiv);
        } else {
            alert("É necessário ter pelo menos uma coluna.");
        }
    }

    function toggleVarcharField(select) {
        const varcharInput = select.parentElement.querySelector('input[name="varchar_length"]');
        if (select.value === 'VARCHAR') {
            varcharInput.classList.remove('hidden');
        } else {
            varcharInput.classList.add('hidden');
            varcharInput.value = '';
        }
    }
</script>
{% endblock %}
