{% extends 'base.html' %}

{% block title %}Listar Tabelas{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto my-4 p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4">Tabelas e Colunas</h1>
    
    <!-- Tabela estilizada com Tailwind -->
    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-300">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="py-2 px-4 border-b">Nome da Tabela</th>
                    <th class="py-2 px-4 border-b">Colunas</th>
                </tr>
            </thead>
            <tbody>
                {% for table, columns in table_columns.items %}
                <tr class="hover:bg-gray-100">
                    <td class="py-2 px-4 border-b">{{ table }}</td>
                    <td class="py-2 px-4 border-b">{{ columns|join:", " }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Botões estilizados com Tailwind -->
    <div class="mt-3">
        <a href="{% url 'criar_tabela' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">Criar Tabela</a>
        <a href="{% url 'listar_tabelas' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md ml-2">Listar Tabelas</a>
    </div>
</div>
{% endblock %}
